AddDefaultCharset UTF-8
AddCharset UTF-8 .html .css .js .json .svg .txt .ttl .rdf .owl

<IfModule mod_mime.c>
  AddType text/html;charset=UTF-8 .html
  AddType text/css;charset=UTF-8 .css
  AddType application/javascript;charset=UTF-8 .js
  AddType application/json;charset=UTF-8 .json
  AddType image/svg+xml;charset=UTF-8 .svg
</IfModule>
